.flexcontainer{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 100vw;
}

.container{
    break-after: always;
    margin: 20px;
}

.classifiedText{
    break-after: always;
}

.header{
    margin: auto;
}

.inputBox{
    max-height: 30px;
    break-after: always;
    margin: 0.5em;
}

.runButton{
    max-height: 50px;
    break-after: always;
    margin: 0.5em;
}

.nextButton{
    margin: 0.5em;
}

.prevButton{
    margin: 0.5em;
}
