.centred{
    margin: auto;
    width: 50%;
}

table{
    width: 100%;
}

.networkContainer{
    height: 500px;  
}

.tableContainer{
    width: 100%;
    margin-top: 10vh;
    padding-bottom: 5vh;
    background-color: white;    
}

/*Handles the case where the network container needs to be hidden*/
.networkContainerNull{
    height: 500px;
    display: none;
}

.tableParameters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vh;
    height: 10vh;
}

.titleInputPair{
    margin: 1vh 1vw;
}

.parameterSelector{
    max-height: 100%;
}

.reloadButton{
    max-height: 100%;
    margin: 0;
}

.outline{
    border: 1px solid grey
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: rgb(0,0,40);
    color: white;
}

.chartContainer{
    background: #eeeeee;
    width: 100%;
    margin-top: 10vh;
    height: 60vh;
}

.gridcontainer{
    display: grid;
    grid-template-columns: 100%;
    width: 80%;
    margin: auto;
    justify-items: center;
}

.image{
    grid-column: span 2;
}

.container{
    margin: 20px;
}


.header{
    margin: auto;
    text-align: center;
}

.inputBox{
    max-height: 30px;
    margin: 0.5em;
    grid-column: span 2;
    width: 100%;
}


.nextButton{
    margin: 0.5em;
    grid-column: span 1;
    width: 20vw;
}

.prevButton{
    margin: 0.5em;
    grid-column: span 1;
    width: 20vw;
}


@media screen and (max-width: 600px){
    .header{
        margin-top: 10vh;
    }
    .gridcontainer{
        width: 80%;
        align-items: center;
    }
}