.centred{
    margin: auto;
    width: 50%;
}

table{
    width: 100%;
}

.outline{
    border: 1px solid #dddddd
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: black;
    color: white;
}